# Permitir descarga de archivos APK
<FilesMatch "\.(apk)$">
    Header set Content-Disposition attachment
    Header set Content-Type application/vnd.android.package-archive
</FilesMatch>

# Permitir descarga de archivos grandes
<IfModule mod_php.c>
    php_value upload_max_filesize 50M
    php_value post_max_size 50M
</IfModule>